In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy.stats import logistic

In [2]:
dataset = pd.read_csv('sandp500/all_stocks_5yr.csv')

In [3]:
dataset

              date   open     high      low  close    volume Name
0       2013-02-08  15.07  15.1200  14.6300  14.75   8407500  AAL
1       2013-02-11  14.89  15.0100  14.2600  14.46   8882000  AAL
2       2013-02-12  14.45  14.5100  14.1000  14.27   8126000  AAL
3       2013-02-13  14.30  14.9400  14.2500  14.66  10259500  AAL
4       2013-02-14  14.94  14.9600  13.1600  13.99  31879900  AAL
5       2013-02-15  13.93  14.6100  13.9300  14.50  15628000  AAL
6       2013-02-19  14.33  14.5600  14.0800  14.26  11354400  AAL
7       2013-02-20  14.17  14.2600  13.1500  13.33  14725200  AAL
8       2013-02-21  13.62  13.9500  12.9000  13.37  11922100  AAL
9       2013-02-22  13.57  13.6000  13.2100  13.57   6071400  AAL
10      2013-02-25  13.60  13.7600  13.0000  13.02   7186400  AAL
11      2013-02-26  13.14  13.4200  12.7000  13.26   9419000  AAL
12      2013-02-27  13.28  13.6200  13.1800  13.41   7390500  AAL
13      2013-02-28  13.49  13.6300  13.3900  13.43   6143600  AAL
14      2013-03-01  13.37  13.9500  13.3200  13.61   7376800  AAL
15      2013-03-04  13.50  14.0700  13.4700  13.90   8174800  AAL
16      2013-03-05  14.01  14.0500  13.7100  14.05   7676100  AAL
17      2013-03-06  14.52  14.6800  14.2500  14.57  13243200  AAL
18      2013-03-07  14.70  14.9300  14.5000  14.82   9125300  AAL
19      2013-03-08  14.99  15.2000  14.8400  14.92  10593700  AAL
20      2013-03-11  14.85  15.1500  14.7100  15.13   6961800  AAL
21      2013-03-12  15.14  15.6000  14.9500  15.50   8999100  AAL
22      2013-03-13  15.54  16.2000  15.4800  15.91  11380000  AAL
23      2013-03-14  15.98  16.3600  15.9300  16.25   8383300  AAL
24      2013-03-15  16.45  16.5400  15.8800  15.98  17667700  AAL
25      2013-03-18  15.80  16.3300  15.7100  16.29   6514100  AAL
26      2013-03-19  16.48  16.8500  16.4100  16.78  11805300  AAL
27      2013-03-20  17.13  17.3300  16.8700  17.23  10819800  AAL
28      2013-03-21  17.21  17.4300  16.8700  17.00  10740800  AAL
29      2013-03-22  17.10  17.2900  16.7700  16.86   8545200  AAL
...            ...    ...      ...      ...    ...       ...  ...
619010  2017-12-26  72.40  72.5500  71.9000  72.34    792134  ZTS
619011  2017-12-27  72.59  72.6900  72.2500  72.45   1159771  ZTS
619012  2017-12-28  72.49  72.6000  72.1400  72.39    710499  ZTS
619013  2017-12-29  72.55  72.7600  72.0400  72.04   1704122  ZTS
619014  2018-01-02  72.54  72.5900  71.4650  71.77   2135564  ZTS
619015  2018-01-03  71.77  72.1800  71.3400  72.10   2328506  ZTS
619016  2018-01-04  72.75  72.9128  72.2600  72.53   2534010  ZTS
619017  2018-01-05  72.83  73.9200  72.5700  73.36   2166065  ZTS
619018  2018-01-08  73.43  74.4200  73.1607  74.24   3631552  ZTS
619019  2018-01-09  74.70  75.4750  74.4650  75.11   2721946  ZTS
619020  2018-01-10  74.58  74.8000  73.2800  73.91   2257464  ZTS
619021  2018-01-11  74.05  74.6800  73.7200  74.59   1629279  ZTS
619022  2018-01-12  74.91  75.6900  74.7700  75.39   1915669  ZTS
619023  2018-01-16  76.06  76.4000  75.2100  75.54   2599094  ZTS
619024  2018-01-17  75.81  77.0300  75.3900  76.77   2769587  ZTS
619025  2018-01-18  76.65  76.6500  75.8500  76.33   2588995  ZTS
619026  2018-01-19  76.69  76.9100  76.2200  76.62   4829602  ZTS
619027  2018-01-22  76.67  77.5800  76.6200  77.48   4195103  ZTS
619028  2018-01-23  77.30  78.3200  76.9700  77.59   2264132  ZTS
619029  2018-01-24  78.16  78.5100  77.6000  78.33   2585326  ZTS
619030  2018-01-25  78.47  79.3800  78.3450  79.25   2327262  ZTS
619031  2018-01-26  79.49  80.1300  79.3800  80.09   2532808  ZTS
619032  2018-01-29  79.81  79.9500  79.1100  79.18   2662383  ZTS
619033  2018-01-30  78.44  78.6900  77.9100  78.35   3808707  ZTS
619034  2018-01-31  78.49  78.7700  76.5400  76.73   4136360  ZTS
619035  2018-02-01  76.84  78.2700  76.6900  77.82   2982259  ZTS
619036  2018-02-02  77.53  78.1200  76.7300  76.78   2595187  ZTS
619037  2018-02-05  76.64  76.9200  73.1800  73.83   2962031  ZTS
619038  2018-02-06  72.74  74.5600  72.1300  73.27   4924323  ZTS
619039  2018-02-07  72.70  75.0000  72.6900  73.86   4534912  ZTS

[619040 rows x 7 columns]

In [44]:
inp = dataset['close'].values[:10000]
n_inputs = 30
d = dataset.iloc[n_inputs:,4].values[:10000]
n_neurons1 = 10
n_inputs = 5
n_out = 1

w1 = np.random.rand(n_neurons1, n_inputs+1)
w1p = np.random.rand(n_neurons1, n_inputs+1)
w1i = np.copy(w1)
w2 = np.random.rand(n_neurons1,n_out)
w2p = np.random.rand(n_neurons1,n_out)
w2i = np.copy(w2)

n = 0.1
epsilon = 0.00001
momento = 0.08

epocas = 0
erro = 1

I1 = np.zeros(n_neurons1)
y1 = np.zeros(n_neurons1)
delta1 = np.zeros(n_neurons1)
dery1 = np.zeros(n_neurons1)
I2 = np.zeros(n_out)
y2 = np.zeros(n_out)
delta2 = np.zeros(n_out)
dery2 = np.zeros(n_out)

yerro = []
xepoc = []

##entradas
X = np.zeros([len(d),n_inputs])
for i in range(len(d)-n_inputs):
    for j in range(n_inputs):
        X[i,j] = inp[j+i]
    
X = np.insert(X, 0, -1, axis=1) #bias
n_inputs += 1

while True:
    em = erro
    erro = 0
    for j in range(len(X)):
        for i in range(n_neurons1):
            I1[i] = np.inner(X[j,:], w1[i,:]) #produto escalar
            y1[i] = logistic.cdf(I1[i])
        for i in range(n_out):
            I2[i] = np.inner(y1, w2[:,i])
            y2[i] = logistic.cdf(I2[i])
        for i in range(n_out):
            dery2[i] = y2[i]*(1-y2[i])
            delta2[i] = (d[j]-y2[i])*dery2[i]
        temp = np.copy(w2)
        for k in range(n_out):
            for i in range(n_neurons1):
                w2[i,k] = w2[i,k] + momento*(w2[i,k]-w2p[i,k]) + n*delta2[k]*y1[i]
        w2p = np.copy(temp)
        temp = np.copy(w1)
        for k in range(n_out):
            for i in range(n_neurons1):
                dery1[i] = y1[i]*(1-y1[i])
                delta1[i] = np.inner(delta2[k],w2[i,k])*dery1[i]
                w1[i,:] = w1[i,:] + momento*(w1[i,:]-w1p[i,:]) + n*delta1[i]*X[j,:]
        w1p = np.copy(temp)
        for i in range(n_out):
            erro = erro + (d[j]-y2[i]) ** 2
    erro = erro/(2*len(X)*n_out)
    yerro.append(erro)
    epocas += 1
    xepoc.append(epocas)
    if abs(em-erro)<epsilon:
        break

In [ ]:
#operacao
inpp = dataset['volume'].values[10000:10030]
inp = np.concatenate((inp,inpp), axis=0)

x = np.zeros([len(inp)-n_inputs+1,n_inputs-1])
for i in range(len(inp)-n_inputs+1):
    for j in range(n_inputs-1):
        x[i,j] = inp[j+i]
    
x = np.insert(x, 0, -1, axis=1) #bias

y = np.zeros([len(x)-len(X),n_out])
esperado = dataset['volume'].values[10000:10030]
erro_y = 0
k=0
for j in range(len(X),len(x)):
    for i in range(n_neurons1):
        I1[i] = np.inner(x[j,:], w1[i,:]) #produto escalar
        y1[i] = logistic.cdf(I1[i])
    for i in range(n_out):
        I2[i] = np.inner(y1, w2[:,i])
        y2[i] = logistic.cdf(I2[i])
        y[k,i] = y2[i]
    k +=1

In [ ]:
for i in range(30):
     erro_y = erro_y + abs((esperado[i]-y[i])/esperado[i])
erro_y = erro_y/len(x)
var = np.var(y)
    
plt.plot(xepoc, yerro)
plt.title("EQM X Epocas")
plt.ylabel("EQM")
plt.xlabel("Epocas")
plt.show()

plt.plot(range(len(y)), y, label = 'predicao')
plt.plot(range(len(inpp)), inpp, label = 'esperado')
plt.legend()
plt.show()

#chk
chk=0
for i in range(30):
        if esperado[i] == 1 and y[i] == 1:
            chk += 1
acc = chk/len(x) * 100

plt.plot(xepoc, yerro)